@media (min-width: 1028px)
{
    .small-img
    {
        display: none;
    }

    .medium-img
    {
        display: none;
    }

    .large-img
    {
        display: flex;
        max-width: 20rem;
    }
}