@media (min-width: 560px)
{
    .small-img
    {
        display: none;
    }

    .medium-img
    {
        display: flex;
        max-width: 10rem;
    }

    .large-img
    {
        display: none;
    }
}