/* Prevent adjustment of font size when device layout is changed */
html 
{
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/* Box Model */
*
{
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;  
}

/* Force an element not to collapse */
.clearfix:after 
{
    content: "";
    display: table;
    clear: both;
}

.clearfix::after
{
    content: "";
    
}

.header-sec
{
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
}

.header-con
{
    max-width: 75rem;
    height: 100%;
    order: 1;
    width: 100vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darksalmon;
}

header h1
{
    font-size: 6rem;
    padding: 2rem 0rem 2rem 0rem;
}

.noBullList
{
    list-style: none;
    padding: 0px;
}

.noBullList li
{
    display: inline-block;
    padding: .5rem;
    font-size: 2rem;
    height: 100%;
    
}

.noBullList li a
{
    text-decoration: none;
    text-align: center;
    color: darksalmon;
}

nav ul li:active
{
background-color: rgb(180, 255, 230);
}

.active
{
    background-color: rgb(180, 255, 230);
}

.landing-page
{
    display: flex;
    height: calc(100vh - 18rem);
    padding: 0rem;
    margin: 0rem;
    flex-direction: column;

    align-items: center;
}

.landing-page-con
{
    max-width: 75rem;
    width: 100%;
    font-size: 2.5rem;
    color: darksalmon;
}

footer
{
width: 100vw;
height: 4rem;
display: flex;
justify-content: center;
background-color: aquamarine;
}

.FP1
{
    display: flex;
    align-content: center;
}

.FP2
{
    height: 25%;
}

h1
{
    padding: 0rem;
    margin: 0rem;
}

ul
{
    padding: 0rem;
    margin: 0rem;
    height: 100%;
}

nav
{
    height: 100%;
}

li
{
    padding: 0rem;
    margin: 0rem;
    height: 100%;
}

.responsive-display
{
    max-width: 75rem;
    width: 100%;
}

.medium-img
{
    display: none;
}

.large-img
{
    display: none;
}

.small-img
{
    max-width: 10rem;
}