/* Prevent adjustment of font size when device layout is changed */
html 
{
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* Box Model */
*
{
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;  
}

/* Force an element not to collapse */
.clearfix:after 
{
    content: "";
    display: table;
    clear: both;
}

.clearfix::after
{
    content: "";
    
}

.header-sec
{
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    height: 14rem;
}

.header-con
{
    max-width: 75rem;
    height: 100%;
    order: 1;
    width: 100vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darksalmon;
}

header h1
{
    font-size: 5rem;
}

.noBullList
{
    list-style: none;
    padding: 0px;
}

.noBullList li
{
    display: inline-block;
    padding: .5rem;
    font-size: 2rem;
    height: 100%;
    
}

.noBullList li a
{
    text-decoration: none;
    text-align: center;
    color: darksalmon;
}

nav ul li:active
{
background-color: rgb(180, 255, 230);
}

.active
{
    background-color: rgb(180, 255, 230);
}

.landing-page
{
    max-width: 75rem;
    height: calc(100vh - 18rem);
}

footer
{
width: 100vw;
height: 2rem;
display: flex;
justify-content: center;
}

.FP1
{
    height: 75%;
}

.FP2
{
    height: 25%;
}

h1
{
    padding: 0rem;
    margin: 0rem;
}

ul
{
    padding: 0rem;
    margin: 0rem;
    height: 100%;
}

nav
{
    height: 100%;
}

li
{
    padding: 0rem;
    margin: 0rem;
    height: 100%;
}

footer
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}